.container {
    background-color: rgb(29, 29, 31);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}
.color {
    color: rgb(168, 253, 51);
}
button {
    border: hidden;
    background-color: rgb(29, 29, 31);
    color: rgb(168, 253, 51);
}